<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/header :: header"></div>
<body>
<div th:replace="admin/header :: nav"></div>

<br> <br>

<div class="container">

    <div class=" col-md-8 offset-md-2">

        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Create Post</h2>
            </div>

            <div class="card-body" >
                <form role="form" method="post" th:action="@{/admin/posts}" th:object="${post}">
                    <div class="mb-3">
                        <label for="" class="form-label">Title</label>
                        <input type="text" class="form-control" name="title" id="title" placeholder="Enter post title" th:field="*{title}"
                        >
                    </div>
                    <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}">

                    </p>

                    <div class="mb-3">
                        <label for="" class="form-label">Short Description</label>
                        <textarea type="text" class="form-control" name="shortDescription" id="shortDescription" rows="3" placeholder="Enter post short description" th:field="*{shortDescription}"/>
                        <p th:if="${#fields.hasErrors('shortDescription')}" class="text-danger" th:errors="*{shortDescription}">

                        </p>
                    </div>

                    <div class="mb-3">
                        <label for="" class="form-label">Content</label>
                        <textarea type="text" class="form-control" name="content" id="content" rows="5" placeholder="Enter content" th:field="*{content}"/>
                        <p th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit Post</button>
                </form>
            </div>
        </div>



    </div>


</div>

<br>

<div th:replace="admin/footer :: footer"></div>
</body>
</html>