<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="admin/header :: header">

</div>
<body>

<div th:replace="admin/header :: nav">

</div>

<div class="container">
<div class="row">
    <h1>List Blog Posts</h1>
    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">

        <th style="width:10%">#</th>
        <th style="width:20%">Post Title</th>
        <th style="width:30%">Post Short Description</th>
        <th style="width:20%">Post Created On</th>
        <th style="width:20%">Actions</th>

        </thead>

        <tbody>
        <tr th:each="post, postStat : ${posts}">
            <td style="text-align: center" th:text="${postStat.count}"></td>
            <td style="text-align: center" th:text="${post.title}"></td>
            <td style="text-align: center" th:text="${post.shortDescription}"></td>
            <td style="text-align: center" th:text="${post.createdOn}"></td>
            <td style="text-align: center">
                <a th:href="@{/admin/posts/{postId}/edit(postId=${post.id})}" class="bg-green btn btn-success">Edit</a>
                <a th:href="@{/admin/posts/{postId}/delete(postId=${post.id})}" class="bg-green btn btn-danger">Delete</a>
                <a th:href="@{/admin/posts/{postUrl}/view(postUrl=${post.url})}" class="bg-green btn btn-info">View</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<div th:replace="admin/footer :: footer">

</div>
</body>
</html>